<ons-tab page="pokemon" label="Pokemon" icon="fa-home"></ons-tab>
<ons-tab page="gallery" label="Gallery" icon="fa-images"></ons-tab>
<ons-tab page="saved" label="Saved">
            <span class="notification" {{ stimulus_target('app', 'savedCount') }}>
            </span>
</ons-tab>
<ons-tab page="share" label="Share" icon="fa-qrcode"></ons-tab>
