<ons-page id="about">
    <ons-toolbar>
        <div class="left">
            <ons-back-button></ons-back-button>
        </div>

        <div class="center">About</div>
    </ons-toolbar>

    <div>
        This is the about page, served from twig.  {{ 'now'|date }}
    </div>
</ons-page>
