{% extends 'onsPage.html.twig' %}

{% block pageId 'about' %}
{% block toolbar %}
    {{ parent() }}
    <div class="center">About</div>
{% endblock %}
{% block body %}
    This is a Symfony version of the pokemon tutorial from onsenUI.
{% endblock %}
