<ons-page id="home">
    <script type="module">
        import db from './../../assets/db.js';

        const openMenu = () => {
            document.querySelector('#menu').open();
        };

        const addPokemonToGrid = (row, grid) => {
            console.log('adding ', row);
            const pokenumber = row.id;
            // now add the new pokemon to the grid
            const cell = document.createElement('div');
            cell.onclick = () => document.querySelector('#navigator')
                .bringPageTop('gallery.html', { data: { pokenumber, savedPokemon } });

            const image = document.createElement('img');
            image.setAttribute('src', `img/${pokenumber}.png`);
            cell.appendChild(image);
            grid.appendChild(cell);
        };

        // prechange happens on tabs only
        // @Todo: move this to stimulus, not html
        document.addEventListener('prechange', ({ target, tabItem }) => {
            let pageName = tabItem.getAttribute('page');
            console.log('prechange', target, tabItem, pageName);
            if (pageName == 'saved') {
                const grid = document.querySelector('#grid');
                grid.innerHTML = '';

                db.savedTable.filter(n => n.owned).each( row => {
                    addPokemonToGrid(row, grid);
                    // this.savedCountTarget.innerHTML = count;
                });

                // db.savedTable.count().then ( c => this)
                // getAll().toArray().then ( x => {
                //     console.log(x);
                // });
                console.log('populate the grid.');
            }
            if (target.matches('#tabbar')) {
                document.querySelector('#home-toolbar .center').innerHTML = tabItem.getAttribute('label');
            }
        });

    </script>

    home stuff here.


    <ons-toolbar id="home-toolbar">
        <div class="center">Pokémon</div>

        <div class="left">
            <ons-toolbar-button {{ stimulus_action('app','openMenu', 'click') }}>
                <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>

    Where is this content??

    <ons-tabbar id="tabbar">

        <ons-tab page="pokemon" label="Home" icon="fa-home"></ons-tab>
        <ons-tab page="saved" label="Saved">
            <span class="notification" {{ stimulus_target('app', 'savedCount') }}>
            </span>
        </ons-tab>
        <ons-tab page="share" label="Share" icon="fa-qrcode"></ons-tab>
    </ons-tabbar>
</ons-page>
