{% set _sc = 'pokemon' %}
<ons-page id="pokemon" {{ stimulus_controller(_sc, {max: 3}) }}>

    <div {{ stimulus_controller('hello') }}>
        Hola!
    </div>

    <span {{ stimulus_target('app', 'message') }}>
        message
    </span>

    <h3>Pokemon-list</h3>
    <ons-list id="pokemon-list" {{ stimulus_target(_sc, 'list') }}>
        <ons-list-item>TEST</ons-list-item>
    </ons-list>

    <div id="after-list" style="margin: 20px; text-align: center;">
        <ons-icon icon="fa-spinner" size="26px" spin></ons-icon>
    </div>

</ons-page>
