{% extends 'onsPage.html.twig' %}

{% block pageId 'saved' %}
{% block toolbar %}
{#    {{ parent() }}#}
{#    <div class="center">{{ 'my-collection'|trans }}</div>#}
{% endblock %}

{% block body %}
    <style>
        #grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-auto-rows: 33vw;
        }

        #grid img {
            width: 100%;
            height: 100%;
        }
    </style>

    <div id="content"  {{ stimulus_controller('saved') }}>
        <div id="grid">
            grid values.
            Random: {{ random(9999) }}
        </div>
    </div>
{% endblock body %}
