<div{{ attributes }} {{ stimulus_controller('render', {
    twigTemplates: this.blocks
},
    controllerOutlets = { 'render': '.app' }) }}>

    <div {{ stimulus_target('render', 'content') }}>
        content here.
    </div>
    <div {{ stimulus_target('app', 'title') }}>
        title is here, but should be in toolbar
    </div>
</div>
